

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#errorMessage{
    color: #ccc;
    text-align: center;
    display: none;
}















